#gallery {
    width: 100%;
}

#gallery div {
    font-size: 0;
}

#gallery figure {
    font-size: 14px;
}

figure {
    width: 33%;
}

@media (max-width:1200px) and (min-width: 481px) {
    figure {
        width: 48%;
    }
}

@media (max-width: 480px) {
    figure {
        width: 100%;
    }
}