/* start general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
    background-color: #fff;
}
/* end general */

/* start nav */
#main-nav {
    width: 100%;
    background-color: #f9fcfe;
    position: fixed;
    top: 0;
    z-index: 2;
}

#main-nav ul {
    margin: 0;
    float: right;
}

#main-nav ul li {
    display: inline-block;
    padding: 20px 40px;
}

#main-nav ul li a {
    color: #1ac056;
    text-decoration: none;
}
/* end nav */

/* start header */
#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: top center;
    color: #fff;
}

#main-header .header-content {
    padding: 25vh;
    text-align: center;
}

#main-header .header-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 70px;
}

#main-header .header-content h1 span {
    color: #1ac056;
    font-weight: 400;
}

#main-header .header-content h2 {
    font-weight: 200;
    font-size: 35px;
}

/* end header */

/* start naglowki sekcji */
#o-mnie h3, #umiejetnosci h3, #portfolio h3, #kontakt h3 {
    margin-bottom: 10px;
}

#o-mnie h3 span, #umiejetnosci h3 span, #portfolio h3 span, #kontakt h3 span {
    color: #1ac056;
}
/* end naglowki sekcji */

/* start kontenery general */
section {
    padding: 20px;
}
/* end kontenery general */

#o-mnie {
    background-color: #f9fcfe;
    box-shadow: 0px 3px #E5E5E5;
}

#o-mnie, #umiejetnosci, #portfolio {
    text-align: center;
}

#kontakt {
    background-color: #213b50;
    color: #fff;
}
