/* start general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #291f1a;
    margin: 0;
    font-weight: 300;
    background-color: #fff;
}

section {
    padding: 0 80px 60px;
    width: 100%;
    background-color: #fff;
}

section h2 {
    text-align: center;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    font-weight: 300;
    font-size: 30px;
}

section h2 span {
    color: #1ac056;
}
/* end general */

/* start nav */
#main-nav {
    width: 100%;
    background-color: #f9fcfe;
    position: fixed;
    top: 0;
    z-index: 2;
}

#main-nav ul {
    margin: 0;
    float: right;
}

#main-nav ul li {
    display: inline-block;
    padding: 20px 40px;
}

#main-nav ul li a {
    color: #1ac056;
    text-decoration: none;
}
/* end nav */

/* start header */
#main-header {
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: top center;
    color: #fff;
}

#main-header .header-content {
    padding: 25vh;
    text-align: center;
}

#main-header .header-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 70px;
}

#main-header .header-content h1 span {
    color: #1ac056;
    font-weight: 400;
}

#main-header .header-content h2 {
    font-weight: 200;
    font-size: 35px;
}
/* end header */

/* start sekcja o mnie */
#o-mnie {
    background-color: #f9fcfe;
    box-shadow: 0px 3px #E5E5E5;
    overflow: hidden;
}

#o-mnie figure {
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px;
}

#o-mnie div {
    width: 50%;
    float: left;
}

#o-mnie figure img {
    max-height: 300px;
    max-width: 100%;
    border: 14px #fff solid;
    border-radius: 15px;
}
/* end sekcja o mnie */

/* start sekcja umiejetnosci */
#umiejetnosci {
    text-align: center;
}

#umiejetnosci figure {
    display: inline-block;
    margin: 20px;
}
/* start sekcja umiejetnosci */

/* start sekcja kontakt */
#kontakt {
    background-color: #213b50;
    color: #fff;
}
/* end sekcja kontakt */
